In [27]:
# 1. 添加数据
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
# # 增加数据
# df = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],columns=['name','gender','age'])
# # 添加一列数据
# df['score'] = [90,80,70,60]
# print(df)
# # 添加一行
# new = pd.DataFrame({'name':'lisa','gender':'F','age':19,'score':50},index=[0])
# print(new)
# df = df.append(new,ignore_index=True) # ignore_index=True: 忽略新索引，按原有索引递增
# print(df)

# # 创建一个Series, 用来增加进数据框的最后一行
# new1 = Series([1,2,3,4], index=['name','gender','age','sex'])
# df.append(new1,ignore_index=True)
# print(new1)

# 总结:常用于多个df行方向上进行拼接的，列方向上取并集，没有值则显示NaN

# 删除数据
df = DataFrame(np.arange(9).reshape(3,3),columns=['one','two','three'])
print(df)

# 删除行
df.drop([0,1]) # 删除多行，传入索引列表

# 删除列
df.drop(['one'],axis=1) # 删除列时 axis轴必须指定，否则会报错

   one  two  three
0    0    1      2
1    3    4      5
2    6    7      8

   two  three
0    1      2
1    4      5
2    7      8

In [53]:
# 2. 数据的合并-concat
df1 = pd.DataFrame(np.arange(6).reshape(3,2),columns=['four','five'])
df2 = pd.DataFrame(np.arange(6).reshape(2,3),columns=['one','two','three'])
print(df1)
print(df2)

result = pd.concat([df1,df2],axis=0,ignore_index=True,join='outer') # 默认和 df1.append(df2) 相同，行拼接，列进行并集

print(result)

# join='inner' 行进行拼接，取交集

# pd.concat([df1,df2],axis=0,ignore_index=True,join='inner')

# 基于列进行合并
result = pd.concat([df1,df2],axis=1)

print(result)

   four  five
0     0     1
1     2     3
2     4     5
   one  two  three
0    0    1      2
1    3    4      5
   four  five  one  two  three
0   0.0   1.0  NaN  NaN    NaN
1   2.0   3.0  NaN  NaN    NaN
2   4.0   5.0  NaN  NaN    NaN
3   NaN   NaN  0.0  1.0    2.0
4   NaN   NaN  3.0  4.0    5.0
   four  five  one  two  three
0     0     1  0.0  1.0    2.0
1     2     3  3.0  4.0    5.0
2     4     5  NaN  NaN    NaN

In [76]:
# 3. 数据的合并-join
df3 = pd.DataFrame({'red':[1,3,5],'green':[5,0,3]},index=list('abc'))
df4 = pd.DataFrame({'blue':[1,9,8],'yellow':[6,6,7]},index=list('cde'))
print(df3)
print(df4)

# 参数how：left,right,outer,inner

result = df3.join(df4,how='left')
result = df3.join(df4,how='right')
result = df3.join(df4,how='outer')
result = df3.join(df4,how='inner')
result

# 总结：join常用于数据的列方向的拼接，how= 保留类型

   red  green
a    1      5
b    3      0
c    5      3
   blue  yellow
c     1       6
d     9       6
e     8       7

   red  green  blue  yellow
c    5      3     1       6

In [82]:
# 4. 数据的合并-merge
df1 = pd.DataFrame({'Name':list('ABCDE'),'Sex':['M','F','M','M','F'],'Title':['副教授','讲师','助教','教授','助教']},index=range(1001,1006))
print(df1)
df2 = pd.DataFrame({'Name':list('ABDAX'),'Course':['C++','计算机导论','汇编','数据结构','马克思原理'],'Title':['副教授','讲师','教授','副教授','讲师']},index=[1001,1002,1004,1001,3001])
print(df2)

pd.merge(df1,df2)

# 总结：合并数据的时候需要明确两个数据之间使用的关联字段是什么，例如：『 # 5. 练习合并』

     Name Sex Title
1001    A   M   副教授
1002    B   F    讲师
1003    C   M    助教
1004    D   M    教授
1005    E   F    助教
     Name Course Title
1001    A    C++   副教授
1002    B  计算机导论    讲师
1004    D     汇编    教授
1001    A   数据结构   副教授
3001    X  马克思原理    讲师

  Name Sex Title Course
0    A   M   副教授    C++
1    A   M   副教授   数据结构
2    B   F    讲师  计算机导论
3    D   M    教授     汇编

In [89]:
# 5. 练习合并
df_info = pd.read_excel('./file/学生信息表.xlsx')
df_score = pd.read_excel('./file/学生成绩表.xlsx')

# 指定合并依据 on

# 假定两边数据口径不一致，一个是“学号”，一个是“学号”
pd.merge(df_info,df_score,left_on='学号', right_on='学号')

      学号      姓名 性别  年龄  籍贯   语文  数学  英语
0   S001    Rita  女  18  山东   60  90  65
1   S002      于霜  女  20  河南   77  89  99
2   S003      小玉  女  22  湖北  100  83  67
3   S004      淑仪  女  25  陕西   74  67  87
4   S005      雨桐  女  21  山东   98  60  94
5   S006      孝冉  女  23  河南   80  71  89
6   S007      乾名  女  19  湖北   70  90  80
7   S008      炜然  女  19  陕西   65  73  67
8   S009     UZI  男  21  山东   95  60  77
9   S010    Ming  男  23  河南   90  65  91
10  S011  Theshy  男  22  湖北   88  80  76
11  S012  rookie  男  23  陕西   83  93  82
12  S013    Jack  男  18  山东   79  77  85
13  S014   letme  男  25  河南   95  60  73
14  S015      小虎  男  20  湖北   89  61  80
15  S016    ning  男  19  陕西   98  74  99
16  S017   doinb  男  19  山东   67  85  86
17  S018      清林  女  21  河南   82  73  68
18  S019      冬梅  女  25  湖北   68  95  78
19  S020      箐莲  女  24  陕西   88  83  67

In [102]:
# 拓展案例练习『将一个csv拆分成几个小的csv』
data = pd.read_csv('./file/ratings_all.csv')

# 分给5个人
person = ['Luobo','JiaNong','JinChun','Fan','Hivan']

# 平分
size = data.shape[0] / len(person)
if data.shape[0] % len(person) != 0:
    size = np.ceil(size).astype(int)
size

# data.iloc[begin:end]
# 1. begin: 0, end: size
# 2. begin: size, end: size+size

for index,use_name in enumerate(person): # 分给每一个人的数据
    begin = index*size
    end = begin+size
    df_sub = data.iloc[begin:end]
    
    # 需要保存csv文件
    file_path = (f'./file/expend/ratings_{use_name}.csv')
    df_sub.to_csv(file_path)

NameError: name 'date' is not defined