In [3]:

import pandas as pd

order_data = pd.read_csv('./file/order.csv')
dot = pd.read_csv('./file/dot.csv')

dot

,网点ID,网点名称,经度,维度,城市,是否收费,网点类型,停车费,车位数,是否启用,管理人员ID,租金
0,9,弘彧大厦,116.344825,39.998930,北京市,0,0,0,0,0,0.0,0.0
1,17,健康智谷网点,116.360039,39.981220,北京市,0,2,0,0,1,117.0,0.0
2,47,万达主题乐园停车场,100.744752,22.029971,西双版纳傣族自治州,0,2,0,0,1,0.0,0.0
3,54,万达酒吧街南停车场,100.761842,22.013419,西双版纳傣族自治州,0,2,0,0,1,0.0,0.0
4,55,曼听公园景区停车场,100.807424,21.996351,西双版纳傣族自治州,0,2,0,0,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4196,3514,108.9719346,34.382188,0.000000,2,0,3,1,249,0,NaN,NaN
4197,3515,108.8806968,34.372593,0.000000,2,0,3,1,249,0,NaN,NaN
4198,3516,108.9934562,34.397041,0.000000,2,0,3,1,249,0,NaN,NaN
4199,3517,108.9913482,34.327445,0.000000,2,0,2,1,249,0,NaN,NaN
4200,3518,108.7908616,34.288950,0.000000,2,0,3,1,249,0,NaN,NaN